@import url('https://fonts.googleapis.com/css2?family=Cairo:&family=Comfortaa:wght@700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body
{
  background: #111;
}







/* SCROLL */


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #111;
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  background:linear-gradient(to bottom, #5a189a, #3c096c);
  box-shadow: inset 0 0 5px grey;
  border-radius: 35px;
}

::-webkit-scrollbar-thumb:hover {
  background:linear-gradient(to bottom, #5a189a, #3c096c);
}

/
/* SCROLL_END */








/* HEADER_DISPLAY_SETTINGS */


#header
{
  position: fixed;
  margin-top: 50px;
  padding: 25px;
  background: transparent;
  border-radius: 0 0 40px 40px;
  border-bottom: 3px #5a189a solid ;
  justify-content: space-between;
}

#header h1
{
  color: #fff;
  margin-left: 100px;
  transition: 1s;
  font-size: 70px;
  display: inline;
  letter-spacing: 6px;
  font-weight: 700;
}

#header span
{
  letter-spacing: -10px;
  z-index: 3;
  color: #5a189a;
  font-weight: 500;
  -webkit-text-stroke: 1px transparent;
}

#header h1:hover
{
  color: transparent;
  letter-spacing: 10px;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 30px;
  -webkit-text-stroke: 1px #fff;
}

#header nav
{
  float: right;
  margin-right: 100px;
  padding: 25px;
}

#header ul
{
  margin: 0;
  padding: 0;
}

#header li
{
  float: right;
  display: inline;
  padding-left:20px;
  margin-top: 0px;
}

#header a
{
  text-align: right;
  text-decoration: none;
  display: inline-block;
  text-transform: none;
  color: #fff;
  font-size: 30px;
  letter-spacing: 5px;
  transition: 0.5s;
}

#header a:hover
{
  color: #5a189a;
  letter-spacing: 10px;
  border-bottom: 2px solid #3c096c;
}


/* BACKGROUND_VIDEO_DISPLAY_SETTINGS */


#video
{
	position: fixed;
  top: -20px;
	right: 0;
	width: 100%;
	min-height: 100vh;
  height: 100vh;
	background: #111;
  z-index: -2;
}

#video video {
	top: 0;
  transition: 3s;
	left: 0;
	width: 100%;
  padding: 0;
	height: 100%;
	object-fit: cover;
	filter: grayscale(1) blur(20px) saturate(200%) ;
  z-index: -1;
}


/* BACKGROUND_VIDEO_DISPLAY_SETTINGS_END */


@keyframes border-run {
  0%
  {
    letter-spacing: 5px;
  }


  25%
  {

  }

  50%
  {
    border-right: 0px #7b2cbf solid;
    border-left: 0px #7b2cbf solid;
    border-top: 2px #7b2cbf solid;
    border-bottom: 2px #7b2cbf solid;
    letter-spacing: 8px;
  }

  75%
  {

  }
  100%
  {
    letter-spacing: 5px;
  }
}



.content
{
  display: inline;
  padding: 0;
}
.content span
{
  color: #7b2cbf;
}
.content h2
{
  text-align: center;
  color: #fff;
  float: clear;
  margin: 0 auto;
  margin-top:100px;
  font-size: 40px;
  transition: 1.5s;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.3);
  border-top: 1px #7b2cbf solid;
  text-transform: none;
  filter: drop-shadow(0 0 0.75rem black);
  max-width: 40%;
  padding: 30px;
  border-radius: 35px;
}


.content a
{
  text-align: center;
  display: block;
  transition: 0.5s;
  margin: 0 auto;
  letter-spacing: 5px;
  width: 20%;
  text-decoration: none;
  border-radius: 35px;
  font-size: 25px;
  padding: 20px 40px;
  border: 2px #353535 solid;
  background: #111;
  color: #fff;
  float: clear;
  margin-top:100px;
}

.content p
{
  justify-content:
  display: inline-block;
  transition: 0.5s;
  margin: 0 auto;
  width: 20px;
  text-decoration: none;
  border-radius: 50px;
  font-size: 25px;
  padding: 40px 40px;
  border: 2px #353535 solid;
  background: #111;
  color: #fff;
  float: clear;
  margin-top:100px;
}

.content .rotating1 p
{

  margin-bottom: 30px;
  position: fixed;
  left: 40%;
  animation-name: rotate1;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes rotate1
{

  0%
  {
    left: 40%;
    border: 2px #5a189a solid;
  }
  50%
  {
    left: 60%;
    border: 2px #353535 solid;
  }
  100%
  {
    left: 40%;
    border: 2px #5a189a solid;
  }
}

@keyframes rotate2
{

  0%
  {
    right: 40%;
    border: 2px #5a189a solid;
  }
  50%
  {
    right: 60%;
    border: 2px #353535 solid;
  }
  100%
  {
    right: 40%;
    border: 2px #5a189a solid;
  }
}

@keyframes rotate3
{

  0%
  {
    border: 2px #5a189a solid;
    transform: scale(1);
  }
  50%
  {
    border: 2px #353535 solid;
    transform: scale(1.5);
  }
  100%
  {
    border: 2px #5a189a solid;
    transform: scale(1);
  }
}

.content .rotating2 p
{

  margin-bottom: 0px;
  position: fixed;
  right: 40%;
  animation-name: rotate2;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.content .rotating3 p
{

  margin-bottom: 30px;
  animation-name: rotate3;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.content a:hover
{
  border: 2px #3c096c solid;
  color: #5a189a;
  width: 25%;
  animation-name: border-run;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  filter: drop-shadow(0 0 0.75rem black);
}



.footer
{
  bottom: 0;
  color: #fff;
  text-align: center;
  background: #111;
  margin-top: 400px;
  padding: 16px;
  clear: both;
  position:absolute;
  bottom: 0;
  width:100%;
  height:60px;
  border-radius: 27px 27px 0 0;
  border-top: 2px #353535 solid;
}

.footer p
{
    font-size: 20px;
}
