@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans 3', 'Audiowide', 'Readex Pro';
}


body
  {
  overflow-x: hidden;
  background: #07051a;
  animation-name: in;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  }

body::-webkit-scrollbar
{
    display: none;
}

.topcontent
  {
      width: 100%;
      z-index: -2;
      background: #0f0c29;
      clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 70%);
      position: relative;
  }

.topcontent img
  {
      position: relative;
      mix-blend-mode: screen;
      filter: grayscale(1) contrast(200%) brightness(10%);
      margin: 0;
      z-index: 2;
      width: 100%;
      clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 70%);
  }

.navbar
{
      position: absolute;
      z-index: 3;
      padding: 10px;
      left: 50%;
      top: 30%;
      animation-name: headeron;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      transform: translate(-50%, -30%);
}

@keyframes headeron {

      0%
      {
        filter: opacity(0) blur(5px);
      }

      30%
      {
        filter: opacity(0) blur(3px);
        letter-spacing: 25px;
      }

      100%
      {
        filter: opacity(1) blur(0px);
        letter-spacing: 7px;
      }

}


.navbar h1
{
      font-family: 'Audiowide';
      color: #fff;
      background-color: transparent;
      font-size: 60px;
      letter-spacing: 7px;
      animation-name: headeron;
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
}

.navbar h2
{
      color: #2e2485;
      background-color: transparent;
      font-size: 20px;
      text-align: center;
      margin-top: -17px;
      font-family: 'Audiowide';
      letter-spacing: 7px;
}


.toptext
{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #fff;
    text-transform: lowercase;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Readex Pro';
    padding-left: 50px;
    padding-right: 50px;
}

.toptext span
{
    color: #fff;
    font-weight: 500;
    font-family: 'Readex Pro';
}

@keyframes in {
      0%
      {
        filter: blur(25px) grayscale(1) brightness(0%);
      }
      50%
      {

      }
      100%
      {
        filter: blur(0px) grayscale(0) brightness(100%);
      }
}

@keyframes fadeout {
      0%
      {
        letter-spacing: 5px;
      }
      50%
      {
        word-spacing: 3px;
      }
      100%
      {
        word-spacing: 0px;
      }
}

.toptext h1
{
    color: #2e2485;
    animation-name: fadeout;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

.toptext p
{
  font-size: 20px;
  padding: 20px;
  font-family: 'Readex Pro';
}

.toptext1
{
    display: inline-block;
    margin-bottom: 30px;
}

.toptext2
{
    display: inline-block;
}

.centercontent
  {
      width: 100%;
      z-index: -2;
      background: #0f0c29;
      clip-path: polygon(0 15%, 100% 30%, 100% 69%, 0 75%);
      border-top: 8px #0f0c29 solid;
      border-bottom: 3px #0f0c29 solid;
  }

.centercontent img
  {
      position: relative;
      mix-blend-mode: screen;
      filter: grayscale(1) brightness(80%) contrast(150%);
      margin: 0;
      z-index: 2;
      width: 100%;
      clip-path: polygon(0 15%, 100% 30%, 100% 69%, 0 75%);
      transition: 1s;
      animation-name: res;
      animation-duration: 15s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
  }


.bottomtext
{
      text-align: center;
      font-size: 35px;
      font-weight: 700;
      color: #fff;
      text-transform: lowercase;
      margin-top: 30px;
      margin-bottom: 60px;
      font-family: 'Readex Pro';
      width: 100%;
}

.bottomtext h1
{
      position: static;
      color: #fff;
      text-align: center;
      padding-top:30px;
      padding-bottom:30px;
      margin-left: 10%;
      margin-right: 10%;
      font-size: 45px;
      border-radius: 55px 55px 0 0;
      text-transform: lowercase;
      z-index: 4;
      background: #0f0c29;
      border-top: 3px #2e248520 solid;
      border-bottom: 3px #2e248520 solid;
      font-family: 'Readex Pro';
}

.bottomtext a
{
      position: static;
      color: #fff;
      text-align: center;
      text-decoration: none;
      padding: 15px 60px;
      margin-left: 10%;
      margin-right: 10%;
      font-size: 20px;
      border-radius: 0 0 35px 35px;
      text-transform: lowercase;
      z-index: 4;
      background: #0f0c29;
      border-top: 3px #2e248520 solid;
      border-bottom: 3px #2e248520 solid;
      font-family: 'Readex Pro';
}

.bottomtext img
{
      position: static;
      color: #fff;
      width: 80%;
      text-align: center;
      margin-left: 10%;
      margin-right: 10%;
      border-radius:0;
      text-transform: lowercase;
      z-index: 4;
      background: #0f0c29;
      font-family: 'Readex Pro';
      filter: saturate(200%);
}

.bottomtext p
{
      position: static;
      color: #fff;
      text-align: center;
      padding-top:30px;
      padding-bottom:30px;
      margin-left: 10%;
      margin-right: 10%;
      font-size:15px;
      margin-top: -9px;
      border-radius:0 0 55px 55px;
      text-transform: lowercase;
      z-index: 4;
      background: #0f0c29;
      border-top: 3px #2e248520 solid;
      border-bottom: 3px #2e248520 solid;
      font-family: 'Readex Pro';
}

.bottomcontent
    {
        width: 100%;
        z-index: -2;
        background: #0f0c29;
        clip-path: polygon(0 25%, 100% 1%, 100% 100%, 0 75%);
        border-top: 8px #0f0c29 solid;
        border-bottom: 3px #0f0c29 solid;
    }

.bottomcontent img
    {
        position: relative;
        mix-blend-mode: screen;
        filter: grayscale(1) brightness(80%) contrast(180%);
        margin: 0;
        z-index: 2;
        width: 100%;
        clip-path: polygon(0 25%, 100% 1%, 100% 100%, 0 75%);
        transition: 1s;
    }


@keyframes res {
    0%
    {
      clip-path: polygon(0 15%, 100% 30%, 100% 69%, 0 75%);
    }
    50%
    {
      clip-path: polygon(0 17%, 100% 32%, 100% 68%, 0 73%);
      filter: grayscale(1) brightness(120%) contrast(150%);
    }
    100%
    {
      clip-path: polygon(0 15%, 100% 30%, 100% 69%, 0 75%);
    }
}



.imgcontent
{
      text-align: center;
      font-size: 35px;
      font-weight: 700;
      color: #fff;
      text-transform: lowercase;
      margin-top: 30px;
      margin-bottom: 60px;
      font-family: 'Readex Pro';
      width: 100%;
}

.imgslider
{
      margin-left: 10%;
      margin-right: 10%;
      width: 80%;
      height: auto;
      position: relative;
}

.imgcontent h1
{
      position: static;
      color: #fff;
      text-align: center;
      padding-top:30px;
      padding-bottom:30px;
      margin-left: 10%;
      margin-right: 10%;
      font-size: 45px;
      border-radius: 55px 55px 0 0;
      text-transform: lowercase;
      z-index: 4;
      background: #0f0c29;
      border-top: 3px #2e248520 solid;
      border-bottom: 3px #2e248520 solid;
      font-family: 'Readex Pro';
}


.imgcontent p
{
      position: static;
      background: #0f0c29;
      background-image: url('horizontalbackground.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      text-align: center;
      width: 80%;
      height: auto;
      padding-top: 40%;
      margin-left: 10%;
      margin-right: 10%;
      font-size:15px;
      margin-top: -9px;
      border-radius:0 0 55px 55px;
      text-transform: lowercase;
      z-index: 4;
      border-top: 3px #0f0c2930 solid;
      border-bottom: 3px #0f0c29 solid;
      font-family: 'Readex Pro';
      animation-name: photo;
      animation-duration: 20s;
      animation-iteration-count: infinite;
}

.imgcontent a
{
      position: relative;
      color: #fff;
      text-align: center;
      text-decoration: none;
      margin-left: 10%;
      top: -60px;
      margin-right: 10%;
      font-size: 20px;
      padding: 5px 40px;
      border-radius: 35px 35px;
      text-transform: lowercase;
      background: rgba(7, 5, 26, 0.8);
      border: 3px #07051a solid;
      font-family: 'Readex Pro';
      transition: 0.5s;
}

.imgcontent a:hover
{
      padding: 5px 40%;
      margin-left: -10%;
      margin-right: -10%;
      letter-spacing: 3px;
      background: rgba(7, 5, 26, 0.95);
}

@keyframes photo {

      0%
      {
        background-image: url('horizontalbackground.jpg');
      }
      20%
      {
        background-image: url('horizontalbackground.jpg');
      }
      25%
      {
        background-image: url('Geralt.jpg');
      }
      45%
      {
        background-image: url('Geralt.jpg');
      }
      50%
      {
        background-image: url('topcontent.jpeg');
      }
      70%
      {
        background-image: url('topcontent.jpeg');
      }
      75%
      {
        background-image: url('wallpaper_2.png');
      }
      95%
      {
        background-image: url('wallpaper_2.png');
      }
}


.bottomcontent2
    {
        width: 100%;
        z-index: -2;
        background: #0f0c29;
        clip-path: polygon(0 32%, 100% 5%, 100% 100%, 0 85%);
        border-top: 8px #0f0c29 solid;
        border-bottom: 3px #0f0c29 solid;
        margin-bottom: 1%;
    }

.bottomcontent2 img
    {
        position: relative;
        mix-blend-mode: screen;
        filter: grayscale(1) brightness(80%) contrast(130%);
        margin: 0;
        z-index: 2;
        width: 100%;
        clip-path: polygon(0 32%, 100% 5%, 100% 100%, 0 85%);
        transition: 1s;
    }

.bottomcontenttext
    {
          position: relative;
          overflow-x: hidden;
    }

.bottomcontenttext h1
{
      color: #07051a;
      font-family: 'Audiowide';
      border-bottom: 2px #07051a50 solid;
      border-top: 2px #07051a50 solid;
      text-transform: none;
      overflow-x: hidden;
      background-color: #0f0c29;
      font-size: 25px;
      text-align: center;
      transform: rotate(5deg);
      margin: 0;
      width: 120%;
      margin-left: -10%;
}

.bottomcontenttext span
{
  font-family: 'Audiowide';
  animation-name: colorspan;
  animation-duration: 5s;
  color: #2e2485;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes colorspan {

      0%
      {
        color: #2e2485;
        filter: saturate(100%);
      }
      50%
      {
        color: #2e2485;
        filter: saturate(150%);
      }
      100%
      {
        color: #2e2485;
        filter: saturate(100%);
      }
}


    .bottomcontent3
        {
            width: 100%;
            z-index: -2;
            background: #0f0c29;
            clip-path: polygon(0 9%, 100% 24%, 100% 100%, 0 85%);
            border-top: 8px #0f0c29 solid;
            border-bottom: 3px #0f0c29 solid;
            margin-top: -4%;
        }

    .bottomcontent3 img
        {
            position: relative;
            mix-blend-mode: screen;
            filter: grayscale(1) brightness(60%) contrast(140%);
            margin: 0;
            z-index: 2;
            width: 100%;
            clip-path: polygon(0 9%, 100% 24%, 100% 100%, 0 85%);
            transition: 1s;
        }





@media (min-width:480px)
{
.toptext
  {
    text-align: center;
    font-size: 20px;
}

.toptext p
{
  font-size: 15px;
}

@media (min-width:768px)
{


.toptext
{
    text-align: center;
    font-size: 35px;
}

.toptext p
{
  font-size: 20px;
}

.bottomcontenttext h1
{
      font-size:50px;
      width: 120%;
      margin-left: -10%;
}
}
