@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

*
{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root
{
  --background: #040511;
  --backgroundsecond: #04061a;
  --color: #DEE4EA;
  --maincolor: #1764CC;
  --maincolorhover: #4C97DE;
  --border: 1px #1764CC50 solid;
  --dark: #111111;
  --line: #1764CC50;
}
body
{
  background: var(--backgroundsecond);
  font-family: 'Gruppo', 'Kanit', sans-serif;
  color: #fff;
  overflow: hidden;
  width: 100vw;
  max-height: 100vh;
}
.background-image
{
  position: absolute;
  z-index: 1;
  overflow: hidden;
}
.background-image img
{
  filter: opacity(0.25) grayscale(1);
  height: 100vh;
  margin-left: -25vw;
  max-width: 100vw;
  object-fit: cover;
}
.background-shape
{
  background: rgb(4,6,26);
  background: linear-gradient(90deg, rgba(4,6,26,0.4066001400560224) 0%, rgba(4,6,26,1) 46%);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.load-item
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: -100vh;
  visibility: hidden;
  transition: 0.5s;
  transition-timing-function: ease-out;
  animation-play-state: paused;
  background: var(--backgroundsecond);
}
.load-item.active
{
  top: 0;
  visibility: visible;
}
.load-item img
{
  width: 100px;
  animation-name: bounce-6;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
@keyframes bounce-6 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
.screen
{
  position: relative;
  z-index: 1;
  width: 100vw;
  max-height: 100vh;
  backdrop-filter: blur(1px);
  overflow: hidden;
}
.shape-1
{
  background: var(--maincolor);
  height: 250px;
  width: 150px;
  position: absolute;
  filter: blur(100px);
  z-index: -1;
  bottom: 0;
  left: 0;
  margin-left: -150px;
}
.shape-2
{
  background: var(--maincolor);
  height: 250px;
  width: 150px;
  position: absolute;
  filter: blur(100px);
  border-radius: 250px;
  z-index: -1;
  bottom: 0;
  right: 0;
  margin-right: -150px;
  margin-left: -100px;
}
.shape-3
{
  background: rgb(23,100,204);
  background: -webkit-linear-gradient(bottom, rgba(23,100,204,1) 0%, rgba(23,100,204,0) 72%);
  background: -o-linear-gradient(bottom, rgba(23,100,204,1) 0%, rgba(23,100,204,0) 72%);
  background: linear-gradient(to top, rgba(23,100,204,1) 0%, rgba(23,100,204,0) 72%);
  height: 150px;
  width: 100vw;
  position: absolute;
  filter: blur(100px);
  z-index: -1;
  bottom: 0;
  animation-name: shapesopacity;
  animation-duration: 12.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes shapesopacity {
  50%
  {
    opacity: 0.25;
  }
}
.screen-content
{
    backdrop-filter: blur(20px);
    width: 100vw;
    height: 100vh;
}
.navigation
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: calc(100vw - 100px);
  top: 25px;
  left: 50px;
}
.top-navigation
{
  display: flex;
  align-items: center;
}
.top-navigation a
{
  color: var(--color);
  text-decoration: none;
  transition: 0.3s;
}
.top-navigation a:hover
{
  transform: scale(0.9);
  color: var(--maincolor);
}
.top-navigation .fa-arrow-left-long
{
  padding-right: 15px;
}
.top-navigation .fa-arrow-right-long
{
  padding-left: 15px;
}
.main-container
{
  width: 60vw;
  margin-left: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.logo
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.logo img
{
  width: 20%;
}
.sign-form
{
  background: #1764CC15;
  backdrop-filter: blur(20px);
  padding: 20px 30px;
  width: 100%;
  border-radius: 15px;
  border: 1px var(--line) solid;
}
.sign-title p
{
  padding: 5px 0 15px 0;
  opacity: 0.5;
}
.footer
{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer p
{
  padding: 15px 0;
}
.footer a
{
  text-decoration: none;
  color: var(--maincolor);
  font-weight: 900;
}
.sign-inputs
{
  display: flex;
  flex-direction: column;
}
input[type=email] {
  width: 100%;
  background: transparent;
  outline: none;
  border:var(--border);
  border-radius:5px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: var(--color);
}
input[type=password] {
  width: 100%;
  background: transparent;
  outline: none;
  border:var(--border);
  border-radius:5px;
  padding: 12px 20px;
  box-sizing: border-box;
  color: var(--color);
}
.sign-inputs a {
  outline: none;
  border:var(--border);
  background: #1764CC25;
  text-decoration: none;
  text-align: center;
  border-radius:5px;
  padding: 12px 20px;
  color: var(--color);
  margin-top: 30px;
  transition: 0.3s;
}
.sign-inputs a:hover
{
  border: 1px #1764CC solid;
}
.other-metods
{
  display: flex;
  flex-direction: column;
}
.other-metods a
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background: var(--backgroundsecond);
  color: var(--color);
}
.other-metods a i
{
  padding: 0 10px;
  font-size: 15px;
}
input[type=checkbox] {
  background: transparent;
  outline: none;
  border:var(--border);
  border-radius:5px;
  box-sizing: border-box;
  color: var(--color);
  margin-right: 5px;
  border-radius: 50%;
}
.sign-agree
{
  display: flex;
  align-items: center;
  margin: 15px 0;
}
::placeholder {
  color: var(--color);
  opacity: 0.25;
}
@media (min-width: 701px) {
  .main-container
  {
    width: 40vw;
    margin-left: 30vw;
  }
}
