@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
  {
  font-family:'Readex Pro', 'Inter', sans-serif;
  overflow-x: hidden;
  background: #121212;
  animation: scrolllock;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  }

@keyframes scrolllock {
  0%
  {
    overflow: hidden;
  }
  100%
  {
    overflow: hidden;
  }
}
body::-webkit-scrollbar
{
    display: none;
}


.loadingcontainer
{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -300;
  opacity: 0;
  animation-name: load;
  animation-duration: 4s;
  backdrop-filter: blur(35px);
  background: rgba(25, 25, 25, 0.8);
  animation-timing-function:ease-out;
}

@keyframes load {
  0%
  {
    z-index: 300;
    opacity: 1;
  }
  75%
  {
    opacity: 1
  }
  100%
  {
    opacity: 0;
    z-index: 300;
  }
}




.loadingtext
{
  position: fixed;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 3s;
  animation-name: loadrottext;
  animation-timing-function: ease-in-out;
  opacity: 0;
  font-weight: 900;
}

@keyframes loadrottext {
  0%
  {
    opacity: 1;
  }
  50%
  {
    top: 50%;
  }
  70%
  {
  letter-spacing: 0px;
  color: #fff;
  }
  80%
  {
    top: 50%;
  }
  90%
  {
    filter: blur(0px);
  }
  100%
  {
    opacity: 1;
    top: -50%;
    letter-spacing: 16px;
    color: #9C3D54;
    filter: blur(5px);
  }
}


.navbar
{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #121212;
  color: #fff;
  border-bottom: 1px #797A7E50 solid;
  z-index: 50;
}

.navtitle
{
  font-size: 30px;
  margin: 0.5rem;
  margin-left: 1rem;
  font-family: 'Inter';
}
.navtitle span
{
  color: #9C3D54;
}
.navbar-links ul
{
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li
{
  list-style-type: none;
}
.navbar-links li a
{
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover
{
  background: #191919;
}
.navbar-links li a:hover
{
  color: #9C3D54;
}
.navbar-links li a i
{
  color: #9C3D54;
  font-size: 15px;
}

.toggle-button
{
  position: absolute;
  top: 10px;
  right: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 5px;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
}
.toggle-button .bar
{
  height: 3px;
  width: 100%:auto;
  border-radius: 10px;
  background-color: #fff;
}
.toggle-button:hover
{
  transform: rotate(180deg);
}
/* headersetupon */
.header
{
  border-bottom: 1px #797A7E50 solid;
}
.header img
{
  position: relative;
  width: 100%;
  filter: brightness(10%) grayscale(1);
  height: 100%;
}
.headertext {
  position: relative;
  background: transparent;
  z-index: 0;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Inter';
  color: #fff;
  font-size: 80px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border-right: 3px #9C3D54 solid;
  border-left: 3px #9C3D54 solid;
  margin-bottom: 3px;
  -webkit-box-shadow: inset 0px 0px 100px -93px rgba(156, 61, 84, 1);
  -moz-box-shadow: inset 0px 0px 100px -93px rgba(156, 61, 84, 1);
  box-shadow: inset 0px 0px 100px -93px rgba(156, 61, 84, 1);
}
.maincontent
{
  background: #121212;
  font-family: 'Inter';
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.maincontent h2
{
  color: #fff;
  font-size: 40px;
}

.maincontent p
{
  padding-top: 20px;
  padding-bottom: 20px;
  color: #9C3D54;
  font-size: 30px;
}
.maincontent li
{
  list-style-type: none;
  color: #fff;
  padding: 5px;
}
.maincontent li p
{
  color: #fff;
  font-size: 20px;
}
.maincontent li i
{
  font-size: 85px;
  color: #9C3D54;
}
.maincontentimage
{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.slider
{
  width: 100%;
  border-radius: 95px 10px 95px 10px;
  margin-bottom: 50px;
}
.slider img
{
  width: 30%;
}
.slider #mainphoto
{
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  -webkit-box-shadow: 0px 8px 52px 12px rgba(18, 18, 23, 1);
  -moz-box-shadow: 0px 8px 52px 12px rgba(18, 18, 23, 1);
  box-shadow: 0px 8px 52px 12px rgba(18, 18, 23, 1);
  transition: 1s;
  transition-timing-function: ease;
}
.secondphone
{
  -webkit-box-shadow: 0px 100px 100px -67px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 100px 100px -67px rgba(0, 0, 0, 1);
  box-shadow: 0px 100px 100px -67px rgba(0, 0, 0, 1);
  filter: brightness(75%);
  position: absolute;
  width: 60%;
  margin-top: -40%;
  display: flex;
  z-index: -1;
  justify-content: space-between;
  margin-left: 10%;
  transition: 1s;
  transition-timing-function: ease;
}
#mainphoto:hover
{
  transform: scale(1.1);
}
#mainphoto:hover + .secondphone
{
  transform: scale(0.9);
  filter: brightness(45%);
}
.buttonport
{
  text-align: center;
  margin-bottom: 50px;
  border-bottom: 1px #7d314320 solid;
  border-top: 1px #7d314320 solid;
}
.buttonhover a
{
  font-size: 30px;
  color: #fff;
  background: #9C3D54;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 35px;
  transition: 0.5s;
  letter-spacing: 0px;
}
.buttonhover a:hover
{
  background: #7d3143;
  letter-spacing: 3px;
}

.info
{
  width: 80%;
  border-radius: 45px 5px;
  margin-left: 10%;
  background: #191919;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
}
.info h2
{
  color: #9C3D54;
  padding-bottom: 5px;
}
.info li
{
  list-style-type: none;
  color: #fff;
  line-height: 2;
}
.info h2 i
{
  padding-left: 10px;
  font-size: 18px;
}

.info1
{
  width: 80%;
  border-radius:5px 45px;
  margin-left: 10%;
  background: #191919;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
}
.info1 h2
{
  color: #9C3D54;
  padding-bottom: 5px;
}
.info1 li
{
  list-style-type: none;
  color: #fff;
  line-height: 2;
}
.info1 h2 i
{
  padding-left: 10px;
  font-size: 18px;
}

.othersin
{
  margin-left: 10%;
  border-radius: 55px 5px;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #191919;
}
.othersin h2
{
  padding-top: 20px;
  color: #9C3D54;
  margin-bottom: 50px;
  font-size: 40px;
  text-align: center;
}
.othersin h2 span
{
  color: #fff;
  text-transform: uppercase;
  border-bottom: 3px #9C3D54 solid;
}
.imgcontainer img
{
  width: 90%;
  margin-left: 5%;
  height: auto;
  margin-bottom: 50px;
}
.shopbutton
{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 50px;
}
.shopbutton a
{
  width: 50%;
  margin-left: 25%;
  text-decoration: none;
  color: #fff;
  background: #9C3D54;
  padding: 15px 40px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
  border-radius: 35px 35px 5px 5px;
  border: 2px transparent solid;
  transition: 0.3s;
  transition-timing-function: ease;
  -webkit-box-shadow: 0px 0px 75px -11px rgba(156, 61, 84, 1);
  -moz-box-shadow: 0px 0px 75px -11px rgba(156, 61, 84, 1);
  box-shadow: 0px 0px 75px -11px rgba(156, 61, 84, 1);
}
.shopbutton a:last-child
{
  border-radius: 5px 5px 35px 35px;
}
.shopbutton a:hover
{
  background: transparent;
  border: 2px #9C3D54 solid;
  border-style: inset;
  letter-spacing: 5px;
}
.shopbutton a:hover i
{
  color: #9C3D54;
  transform: scale(1.2);
}
.valuableinfo
{
  width: 80%;
  margin-left: 10%;
  margin-bottom: 50px;
}
.valuableinfo i
{
  -webkit-box-shadow: 0px 0px 60px -3px rgba(156, 61, 84, 1);
  -moz-box-shadow: 0px 0px 60px -3px rgba(156, 61, 84, 1);
  box-shadow: 0px 0px 60px -3px rgba(156, 61, 84, 1);
  color: #9C3D54;
  font-size: 35px;
  padding: 1px;
  margin-bottom: 30px;
  border-radius: 50%;
  background: #fff;
}
.valuableinfo p
{
  color: #ffffff40;
  text-align: center;
  transition: 0.4s;
}
.valuableinfo p:hover
{
  color: #fff;
}

.footer
{
  background-color: #191919;
  padding: 60px 0;
  bottom: 0;
  border-top: 1px #797A7E50 solid;
}
.containerfoot
{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
.footer-col ul
{
  list-style-type: none;
}
.row
{
  display: flex;
  flex-wrap: wrap;
}
.footer-col
{
  width: 33%;
  padding: 0 15px;
}
.footer-col h4
{
  font-family: 'Readex Pro';
  font-size: 20px;
  color: #9C3D54;
  margin-bottom: 30px;
  border-bottom: 2px #7d3143 solid;
  padding-bottom: 10px;
}
.footer-col ul li:not(:last-child)
{
  margin-bottom: 10px;
}
.footer-col ul li a
{
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  display: block;
  transition: 0.5s;
  transition-timing-function: ease;
}
.footer-col ul li a:hover
{
  padding-left: 6px;
}
.footer-col .social-links a
{
  color: #9C3D54;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #121212;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  transition: 0.5s;
  transition-timing-function: ease;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%
}
.footer-col .social-links a:hover
{
  color: #fff;
}


@media (max-width: 500px)
{
    .toggle-button
    {
      display: flex;
    }
    .navbar-links
    {
      width: 100%;
      display: none;
    }
    .navbar {
      position: fixed;
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-links ul
    {
      width: 100%;
      flex-direction: column;
    }
    .navbar-links li a
    {
      text-align: center;
      padding: 15px 5px;
      border-top: 1px #797A7E25 solid;
    }
    .navbar-links.active
    {
      display:flex;
      z-index: 30;
    }
    .header h1
    {
      font-size: 50px;
    }
    .containerfoot
    {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .footer-col h4
    {
      font-size: 15px;
    }
    .footer-col .social-links a
    {
      height: 20px;
      width: 20px;
      line-height: 20px;
    }
    .footer-col ul li a
    {
      font-size: 14px;
    }
    .maincontent h2
    {
      font-size: 20px;
    }
    .maincontent p
    {
      font-size: 18px;
    }
    .buttonhover a
    {
      font-size: 20px;
    }
    .info
    {
      text-align: left;
    }
    .info1
    {
      text-align: left;
    }
    .shopbutton a
    {
      width:100%;
      margin-left:0%;
    }
    .othersin h2
    {
      font-size: 35px;
    }
}
