@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

.help
{
  width: 90%;
  margin-left: 5%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 49%);
  grid-row-gap: 15px;
  margin-top: 50px;
}
.help-item
{
  background: var(--aqua);
  border-radius: 5px;
  padding: 15px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  border: 1px transparent solid;
  transition: 0.3s;
}
.help-item:hover
{
  border-right: 1px var(--oceanic) solid;
  border-left: 1px var(--oceanic) solid;
}
.help-item p
{
  padding: 10px 0;
  border-bottom: 1px var(--blue) solid;
  border-top: 1px var(--blue) solid;
}
.help-item span
{
  color: var(--oceanic);
  padding: 10px 0;
}
.help-item h1
{
  color: var(--oceanic);
}
.help-item a
{
  color: var(--white);
  font-weight: 500;
  text-decoration: none;
  background: transparent;
  margin-top: 5px;
  padding: 10px 10px;
  border: 1px var(--blue) solid;
}
.help-item a:hover
{
  border: 1px var(--oceanic) solid;
  background: transparent;
  color: var(--oceanic);
}
