@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root
{
  --main-bg-color: #ffffff;
  --main-font-color: #ffffff;
  --dark-bg-color: #111111;
  --dark-font-color: #ffffff;
}
body
  {
  font-family:'Readex Pro', 'Inter', sans-serif;
  overflow-x: hidden;
  background: var(--main-bg-color);
  animation: scrolllock;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  scroll-behavior: smooth;
  }

@keyframes scrolllock {
  0%
  {
    overflow: hidden;
  }
  100%
  {
    overflow: hidden;
  }
}
body::-webkit-scrollbar
{
    display: none;
}


.loadingcontainer
{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -300;
  opacity: 0;
  animation-name: load;
  animation-duration: 4s;
  backdrop-filter: blur(45px);
  background: rgba(25, 25, 25, 0.8);
  animation-timing-function:ease-out;
}

@keyframes load {
  0%
  {
    z-index: 300;
    opacity: 1;
  }
  75%
  {
    opacity: 1
  }
  100%
  {
    opacity: 0;
    z-index: 300;
  }
}




.loadingtext
{
  position: fixed;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 3s;
  animation-name: loadrottext;
  animation-timing-function: ease-in-out;
  opacity: 0;
  font-weight: 900;
}
.loadingtext img
{
  width: 40%;
  margin-left: 30%;
}

@keyframes loadrottext {
  0%
  {
    opacity: 1;
    width: 40%;
  }
  50%
  {
    top: 50%;
  }
  70%
  {
  width: 50%;
  }
  80%
  {
    top: 50%;
  }
  90%
  {
    width: 40%;
    filter: blur(0px);
  }
  100%
  {
    top: -50%;
    width: 40%;
    opacity: 1;
    filter: blur(5px);
  }
}


.navbar
{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #12121250;
  backdrop-filter:blur(50px);
  color: #fff;
  border-bottom: 1px #797A7E50 solid;
  z-index: 50;
  top: 0;
}

.navtitle
{
  font-size: 30px;
  margin: 0.5rem;
  margin-left: 1rem;
  font-family: 'Inter';
}
.navtitle img
{
  width: 20px;
  filter: invert(1);
}
.navbar-links ul
{
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li
{
  list-style-type: none;
  border-bottom: 2px #ffffff00 solid;
}
.navbar-links li a
{
  text-decoration: none;
  color: var(--main-font-color);
  padding: 1rem;
  display: block;
}
.navbar-links li:hover
{
  border-bottom: 2px #fff solid;
}
.navbar-links li a:hover
{
  color: rgba(0,183,255,1);
}
.navbar-links li a i
{
  color: #4361ee;
  font-size: 15px;
}

.toggle-button
{
  position: absolute;
  top: 10px;
  right: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 5px;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
}
.toggle-button .bar
{
  height: 3px;
  width: 100%:auto;
  border-radius: 10px;
  background-color: #fff;
}
.content
{
  width: 90%;
  margin-left: 5%;
  color: #fff;
  z-index: 30;
  font-size: 30px;
  text-align: center;
  background: #12121250;
  border-radius: 35px;
  padding: 30px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  transition: 0.3s;
  -webkit-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
}
.content:hover
{
  background: #ffffff20;
}
.content h3
{
  font-size: 20px;
  padding-top: 5px;
}

.menu
{
  margin-top: 30px;
  width: 90%;
  margin-left: 5%;
  color: #fff;
  z-index: 30;
  font-size: 30px;
  text-align: center;
  width: 90%;
  margin-bottom:150px;
}
.menu ul
{
  list-style-type: none;
}
.menu ul li
{
  margin-top: 20px;
  width: 100%;
  background: #12121250;
  border-radius: 35px;
  padding: 10px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  animation-name: goingon;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  transition: 0.5s;
  -webkit-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
}
.menu ul li a
{
  color: #fff;
  text-decoration: none;
}
.menu ul li:hover
{
  width: 80%;
  margin-left: 10%;
  border: 2px #ffffff50 solid;
}
.slider
{
  border-radius: 35px;
  margin-top: 10px;
  width: 100%;
  background: #12121250;
  border-radius: 35px;
  padding: 15px 0;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  animation-name: goingon;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  transition: 0.5s;
  -webkit-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
}
.slider {
    position: relative;
    overflow: hidden;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    width: 100%;
    transition: all 0.15s ease;
    border-radius: 35px;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #ffffff80;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
.choose
{
  width: 90%;
  margin-left: 5%;
  background: #12121250;
  border-radius: 35px;
  padding: 30px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  text-align: center;
  margin-top: 30px;
}
.choose a
{
  text-decoration: none;
  color: #fff;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  padding: 15px 30px;
  background: #ffffff20;
  border-radius: 35px;
  margin: 10px;
}
.choose a:hover
{
  background: #ffffff50;
}
.category
{
  text-align: center;
  margin-top: 30px;
  position: relative;
  font-size: 25px;
}
.newscontent
{
  margin-top: 30px;
  width: 90%;
  margin-left: 5%;
  display: inline-block;
}
.news1
{
  display: inline-block;
  width: 100%;
  background: #12121250;
  border-radius: 35px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  margin-bottom: 30px;
}
.news1 h2
{
  padding: 10px;
  font-size: 35px;
  color: rgba(9,9,121,0.6);
}
.news1 p
{
  padding: 10px;
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
}

.news2
{
  display: inline-block;
  width: 100%;
  background: #12121250;
  border-radius: 35px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  margin-bottom: 30px;
}
.news2 h2
{
  padding: 10px;
  font-size: 35px;
  color: rgba(9,9,121,0.6);
}
.news2 p
{
  padding: 10px;
  color: #fff;
  font-size: 25px;
}
.toolcontainer
{
  width: 100%;
}
.tools
{
  display: inline-block;
  margin-top: 30px;
  width: 42.5%;
  margin-left: 5%;
  background: #12121250;
  border-radius: 35px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  margin-right: 5%;
  transition: 0.5s;
  -webkit-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
}
.tools a
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-decoration: none;
  padding: 50px 0;
  color: #fff;
}
.tools i
{
  padding-right: 15px;
}
.toolsright
{
  display: inline-block;
  margin-top: 30px;
  width: 42.5%;
  background: #12121250;
  border-radius: 35px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  transition: 0.5s;
  -webkit-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
}
.toolsright a
{
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-decoration: none;
  color: #fff;
}
.toolsright i
{
  padding-right: 15px;
}
.toolsright:hover
{
  transform: scale(0.9);
}
.tools:hover
{
  transform: scale(0.9);
}
.select__input
{
  background: transparent;
  color: #fff;
  border: none;
  display: flex;
  padding: 1rem;
}
.select__input option
{
}








.datetime{
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: background, box-shadow;
}
.date{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time span:last-child{
  background: rgba(9,9,121,1);
  background: -webkit-linear-gradient(right, rgba(0, 102, 143) 0%, rgba(0,183,255,1) 100%);
  background: -o-linear-gradient(right, rgba(0, 102, 143) 0%, rgba(0,183,255,1) 100%);
  background: linear-gradient(to left, rgba(0, 102, 143) 0%, rgba(0,183,255,1) 100%);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 5px;
  border-radius: 3px;
}
.shape
{
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 55% 45% 100% ;
  height: 50vh;
  background: rgb(9,9,121);
  background: -webkit-linear-gradient(right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: -o-linear-gradient(right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: linear-gradient(to left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  padding: 25px;
  position: fixed;
}
.shape1
{
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 0% 100% 100% ;
  height: 50vh;
  background: rgb(9,9,121);
  background: -webkit-linear-gradient(left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: -o-linear-gradient(left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: linear-gradient(to right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  padding: 25px;
  position: fixed;
}
.shape2
{
  width: 100%;
  border-radius:100% 0% 100% 0% / 100% 100% 0% 0% ;
  height: 14vh;
  background: rgb(9,9,121);
  background: -webkit-linear-gradient(left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: -o-linear-gradient(left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: linear-gradient(to right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  padding: 25px;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
.shape3
{
  width: 100%;
  border-radius:100% 0% 100% 0% / 44% 100% 0% 56% ;
  height: 13vh;
  background: rgb(9,9,121);
  background: -webkit-linear-gradient(right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: -o-linear-gradient(right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: linear-gradient(to left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  padding: 25px;
  position: fixed;
  bottom: 0;
  z-index: 0;
}
/* headersetupon */


/* errorpagestyle */
.error
{
  width: 90%;
  left: 5%;
  position: absolute;
  text-align: center;
  top: 30%;
}
.errshape
{
  margin-top: 20px;
  width: 100%;
  background: #12121250;
  border-radius: 35px;
  padding: 30px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  animation-name: goingon;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  transition: 0.5s;
  -webkit-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
}
.error h2
{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.error h3
{
  text-align: center;
  color: #ffffff95;
  text-transform: uppercase;
  padding: 15px 0 0 0;
  margin-bottom: 30px;
}
.error a
{
  color: #fff;
  text-decoration: none;
  background: #12121220;
  border-radius: 35px;
  padding: 10px 30px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
}
.error h4
{
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
}
.error h4 i
{
  color: rgba(9,9,121,0.5);
  animation-name: rotateset;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
  padding: 5px;
}


@keyframes rotateset {
  0%
  {
    transform: rotate(0deg);
  }
  50%
  {
    background: #fff;
  }
  100%
  {
    transform: rotate(360deg);
  }
}


@media (max-width: 500px)
{
    .toggle-button
    {
      display: flex;
    }
    .navbar-links
    {
      width: 100%;
      display: none;
    }
    .navbar {
          position: fixed;
          flex-direction: column;
          align-items: flex-start;
          background: #12121250;
          backdrop-filter:blur(50px);
          border-bottom-left-radius:25px;
          border-bottom-right-radius:25px;
        }
    .navbar-links ul
    {
      width: 100%;
      flex-direction: column;
      height: 100%;
    }
    .navbar-links li a
    {
      text-align: center;
      padding: 15px 5px;
      border-top: 1px #ffffff50 solid;
    }
    .navbar-links.active
    {
      display:flex;
      z-index: 30;

    }
    .header h1
    {
      font-size: 50px;
    }
    .containerfoot
    {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .footer-col h4
    {
      font-size: 12px;
    }
    .footer-col .social-links a
    {
      height: 20px;
      width: 20px;
      line-height: 20px;
    }
    .footer-col ul li a
    {
      font-size: 14px;
    }
    .content
    {
      font-size: 20px;
    }
    .slider
    {
      width: 100%;
    }
    .choose a
    {
      padding: 10px 10px;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
    }
    .tools a
    {
      font-size:20px;
    }
    .toolsright a
    {
      font-size:20px;
    }
}
