@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root
{
  --main-bg-color: #ffffff;
  --main-font-color: #ffffff;
  --dark-bg-color: #111111;
  --dark-font-color: #ffffff;
}
body
  {
  font-family:'Readex Pro', 'Inter', sans-serif;
  overflow-x: hidden;
  background: var(--main-bg-color);
  animation: scrolllock;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  scroll-behavior: smooth;
  }

@keyframes scrolllock {
  0%
  {
    overflow: hidden;
  }
  100%
  {
    overflow: hidden;
  }
}
body::-webkit-scrollbar
{
    display: none;
}


.loadingcontainer
{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -300;
  opacity: 0;
  animation-name: load;
  animation-duration: 1.5s;
  backdrop-filter: blur(45px);
  background: rgba(25, 25, 25, 0.8);
  animation-timing-function:ease-out;
}

@keyframes load {
  0%
  {
    z-index: 300;
    opacity: 1;
  }
  75%
  {
    opacity: 1
  }
  100%
  {
    opacity: 0;
    z-index: 300;
  }
}




.loadingtext
{
  position: fixed;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation-duration: 3s;
  animation-name: loadrottext;
  animation-timing-function: ease-in-out;
  opacity: 0;
  font-weight: 900;
}
.loadingtext img
{
  width: 40%;
  margin-left: 30%;
}

@keyframes loadrottext {
  0%
  {
    opacity: 1;
    width: 40%;
  }
  50%
  {
    top: 50%;
  }
  70%
  {
  width: 50%;
  }
  80%
  {
    top: 50%;
  }
  90%
  {
    width: 40%;
    filter: blur(0px);
  }
  100%
  {
    top: -50%;
    width: 40%;
    opacity: 1;
    filter: blur(5px);
  }
}


.navbar
{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #12121250;
  backdrop-filter:blur(50px);
  color: #fff;
  border-bottom: 1px #797A7E50 solid;
  z-index: 50;
  top: 0;
}

.navtitle
{
  font-size: 30px;
  margin: 0.5rem;
  margin-left: 1rem;
  font-family: 'Inter';
}
.navtitle img
{
  width: 20px;
  filter: invert(1);
}
.navbar-links ul
{
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li
{
  list-style-type: none;
  border-bottom: 2px #ffffff00 solid;
}
.navbar-links li a
{
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover
{
  border-bottom: 2px #fff solid;
}
.navbar-links li a:hover
{
  color: rgba(0,183,255,1);
}
.navbar-links li a i
{
  color: #4361ee;
  font-size: 15px;
}

.toggle-button
{
  position: absolute;
  top: 10px;
  right: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 5px;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
}
.toggle-button .bar
{
  height: 3px;
  width: 100%:auto;
  border-radius: 10px;
  background-color: #fff;
}
.content
{
  width: 90%;
  margin-left: 5%;
  color: #fff;
  z-index: 30;
  font-size: 30px;
  text-align: center;
  background: #12121250;
  border-radius: 35px;
  padding: 30px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  transition: 0.3s;
  -webkit-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
}
.content:hover
{
  background: #ffffff20;
}
.content h3
{
  font-size: 20px;
  padding-top: 5px;
}


.cover
{
  position: relative;
  width: 50%;
  margin-top: 30px;
  margin-left: 25%;
  z-index: -1;
}
.cover img
{
  margin-bottom: -39%;
  width: 80%;
  margin-left: 10%;
  border-radius: 50%;
  animation-name: rotatecover;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  padding: 15px;
  background: #12121250;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  -webkit-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
}
input[type=range] {
  width: 70%;
  -webkit-appearance: none;
  margin: 10px 0;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  background: #11111150;
  -webkit-box-shadow: inset 0px 0px 43px -27px rgba(0, 183, 255, 1);
  -moz-box-shadow: inset 0px 0px 43px -27px rgba(0, 183, 255, 1);
  box-shadow: inset 0px 0px 43px -27px rgba(0, 183, 255, 1);
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  border: 0px solid #000000;
  height: 20px;
  width:20px;
  -webkit-box-shadow: 0px 0px 43px 2px rgba(0, 183, 255, 1);
  -moz-box-shadow: 0px 0px 43px 2px rgba(0, 183, 255, 1);
  box-shadow: 0px 0px 43px 2px rgba(0, 183, 255, 1);
  border-radius: 50%;
  background:rgba(0,183,255,1);
  border: 2px #ffffff30 solid;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0,183,255,0.3);
}




.volume i
{
  padding: 10px;
}
.volume
{
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 300;
  width: 70%;
  margin-left: 15%;
  background: #12121250;
  border-radius:35px 35px  0 0 ;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  padding: 5px 0;
  margin-right: 5%;
  transition: 0.5s;
  margin-bottom: -5px;
  z-index: 1;
}
.cover img.active
{
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
@keyframes rotatecover {
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
.toolcontainer
{
  width: 100%;
}
.tools
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  background: #12121250;
  border-radius: 35px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  margin-right: 5%;
  transition: 0.5s;
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
}
.tools a
{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-decoration: none;
  padding: 20px 0;
  color: #fff;
}
.tools i
{
  font-size: 25px;
}
.tools #play
{
  color: rgba(0,183,255,1);
}
.info
{
  position: relative;
  text-align: center;
  color: #fff;
  z-index: -1;
  margin-top: -3px;
  width: 70%;
  margin-left: 15%;
  background: #12121250;
  border-radius: 0 0 35px 35px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  padding: 5px 0;
  margin-right: 5%;
  transition: 0.5s;
  -webkit-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
}
.info h4
{
    color: rgba(0,183,255,1);
}
.progresbar
{
  background: #11111150;
  width: 100%;
  height: 10px;
  margin-top: -9px;
}
.progresbardone
{
  background: rgba(0,183,255,1);
  width: 0%;
  height: 10px;
  margin-top: -10px;
  animation-name: progresbar;
  animation-duration: 202s;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 183, 255, 1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 183, 255, 1);
  box-shadow: 0px 0px 24px 0px rgba(0, 183, 255, 1);
}
@keyframes progresbar {
  0%
  {
    width: 0%;
  }
  100%
  {
    width: 100%;
  }
}
.info .progresbardone.active
{
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
#play
{
  font-size:35px;
  border-radius: 50%;
}
.menu_playlist
{
  margin-top: 30px;
  width: 60%;
  margin-left: 20%;
  background: #12121250;
  border-radius: 35px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
}
.menu_playlist .menu_option ul
{
  text-align: center;
  list-style-type: none;
}
.menu_option ul li
{
  color: #fff;
  font-size: 30px;
  padding: 10px;
}
.menu_option ul li a
{
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.menu_lastlistenings ul
{
  list-style-type: none;
}
.menu_lastlistenings ul li
{
  padding: 10px 15px;
}
.menu_lastlistenings ul li a
{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.menu_lastlistenings ul li a i
{
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.menu_lastlistenings ul li a:hover
{
  color: rgba(0,183,255,1);
  word-spacing: 3px;
  transition: 0s;
  transition-timing-function: ease-in-out;
}
.menu_lastlistenings ul li a:hover i
{
  color: rgba(0,183,255,1);
  border-radius: 50%;
  border-right: 3px #ffffff solid;
}
.menu_lastlistenings.active
{
  visibility: hidden;
  height: 0;
  color: #ffffff00;
}

.menu_lastlistenings.active ul li a
{
  color: #ffffff00;
}
.menu_settings ul
{
  list-style-type: none;
  margin-bottom: 25px;
  border-top: 3px #ffffff20 solid;
  padding-top: 10px;
}
.menu_settings ul li
{
  text-align:center;
  padding: 3px 0;
}
.menu_settings ul li a
{
  color: #fff;
  text-decoration: none;
  font-size:20px;
}
.menu_settings ul li a:hover
{
  color: rgba(0,183,255,1);
  word-spacing: 5px;
}
.menu_settings.active
{
  visibility: hidden;
  height: 0;
  color: #ffffff00;
}
body.active
{
  background: #111;
}







.datetime{
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  transition: 0.5s;
  transition-property: background, box-shadow;
}
.date{
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time{
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time span:not(:last-child){
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time span:last-child{
  background: rgba(9,9,121,1);
  background: -webkit-linear-gradient(right, rgba(0, 102, 143) 0%, rgba(0,183,255,1) 100%);
  background: -o-linear-gradient(right, rgba(0, 102, 143) 0%, rgba(0,183,255,1) 100%);
  background: linear-gradient(to left, rgba(0, 102, 143) 0%, rgba(0,183,255,1) 100%);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 5px;
  border-radius: 3px;
}
.shape
{
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 55% 45% 100% ;
  height: 50vh;
  background: rgb(9,9,121);
  background: -webkit-linear-gradient(right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: -o-linear-gradient(right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: linear-gradient(to left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  padding: 25px;
  position: fixed;
  z-index: -10;
}
.shape1
{
  width: 100%;
  border-radius:100% 0% 100% 0% / 0% 0% 100% 100% ;
  height: 50vh;
  background: rgb(9,9,121);
  background: -webkit-linear-gradient(left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: -o-linear-gradient(left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: linear-gradient(to right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  padding: 25px;
  position: fixed;
  z-index: -10;
}
.shape2
{
  width: 100%;
  border-radius:100% 0% 100% 0% / 100% 100% 0% 0% ;
  height: 14vh;
  background: rgb(9,9,121);
  background: -webkit-linear-gradient(left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: -o-linear-gradient(left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: linear-gradient(to right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  padding: 25px;
  position: fixed;
  bottom: 0;
  z-index: -9;
}
.shape3
{
  width: 100%;
  border-radius:100% 0% 100% 0% / 44% 100% 0% 56% ;
  height: 13vh;
  background: rgb(9,9,121);
  background: -webkit-linear-gradient(right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: -o-linear-gradient(right, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  background: linear-gradient(to left, rgba(9,9,121,1) 0%, rgba(0,183,255,1) 100%);
  padding: 25px;
  position: fixed;
  z-index: -10;
  bottom: 0;
}
/* headersetupon */


/* errorpagestyle */
.error
{
  width: 90%;
  left: 5%;
  position: absolute;
  text-align: center;
  top: 30%;
}
.errshape
{
  margin-top: 20px;
  width: 100%;
  background: #12121250;
  border-radius: 35px;
  padding: 30px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
  animation-name: goingon;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  transition: 0.5s;
  -webkit-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  -moz-box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
  box-shadow: 0px 16px 57px -21px rgba(0, 0, 0, 1), inset 0px 0px 49px -32px rgba(255, 255, 255, 0.68);
}
.error h2
{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.error h3
{
  text-align: center;
  color: #ffffff95;
  text-transform: uppercase;
  padding: 15px 0 0 0;
  margin-bottom: 30px;
}
.error a
{
  color: #fff;
  text-decoration: none;
  background: #12121220;
  border-radius: 35px;
  padding: 10px 30px;
  border: 2px #ffffff20 solid;
  backdrop-filter:blur(50px);
}
.error h4
{
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
}
.error h4 i
{
  color: rgba(9,9,121,0.5);
  animation-name: rotateset;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
  padding: 5px;
}


@keyframes rotateset {
  0%
  {
    transform: rotate(0deg);
  }
  50%
  {
    background: #fff;
  }
  100%
  {
    transform: rotate(360deg);
  }
}


@media (max-width: 500px)
{
    .toggle-button
    {
      display: flex;
    }
    .navbar-links
    {
      width: 100%;
      display: none;
    }
    .navbar {
          position: fixed;
          flex-direction: column;
          align-items: flex-start;
          background: #12121250;
          backdrop-filter:blur(50px);
          border-bottom-left-radius:25px;
          border-bottom-right-radius:25px;
        }
    .navbar-links ul
    {
      width: 100%;
      flex-direction: column;
      height: 100%;
    }
    .navbar-links li a
    {
      text-align: center;
      padding: 15px 5px;
      border-top: 1px #ffffff50 solid;
    }
    .navbar-links.active
    {
      display:flex;
      z-index: 30;

    }
    .header h1
    {
      font-size: 50px;
    }
    .containerfoot
    {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .footer-col h4
    {
      font-size: 12px;
    }
    .footer-col .social-links a
    {
      height: 20px;
      width: 20px;
      line-height: 20px;
    }
    .footer-col ul li a
    {
      font-size: 14px;
    }
    .content
    {
      font-size: 20px;
    }
    .slider
    {
      width: 100%;
    }
    .choose a
    {
      padding: 10px 10px;
      margin-top: 15px;
      display: flex;
      flex-direction: column;
    }
    .tools a
    {
      font-size:20px;
    }
    .toolsright a
    {
      font-size:20px;
    }
    .cover
    {
      position: relative;
      width: 90%;
      margin-top: 30px;
      margin-left: 5%;
      z-index: -1;
    }
    .cover img
    {
      margin-bottom: -170px;
      width: 80%;
      margin-left: 10%;
      border-radius: 50%;
      animation-name: rotatecover;
      animation-duration: 15s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    .volume i
    {
      padding: 5px;
    }
    .menu_playlist
    {
      width: 80%;
      margin-left: 10%;
    }
}
