@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*
{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body
{
  background: #DEE4E7;
  font-family: 'PT Sans','Satisfy', sans-serif;
  color: #111;
}
body::-webkit-scrollbar {
  display: none;
}
.night
{
  background: #1E212D;
  color: #fff;
}
.load
{
  font-family:'Satisfy';
  font-size: 35px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 55;
  background: rgba(34, 34, 34, 0.95);
  backdrop-filter: blur(15px);
  animation-name: content-load;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  visibility: hidden;
}
.load h1
{
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  animation-name: text-load;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes text-load {
  0%
  {
    color: #0077b6;
    letter-spacing: 0px;
  }
  50%
  {
    filter: blur(0px);
  }
  80%
  {
    color: #0077b6;
  }
  100%
  {
    color: #fff;
    letter-spacing: 4px;
  }
}

@keyframes content-load {
  0%
  {
    visibility: visible;
  }
  70%
  {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
    border-radius: 0%;
  }
  90%
  {
    visibility: visible;
    border-radius: 50%;
  }
  100%
  {
    visibility: hidden;
    margin-top: -100vh;
    border-radius: 50%;
  }
}

.btn a
{
  transition: 0.1s;
  color: #fff;
  padding: 1px;
}
.btn i
{
  transition: 0.1s;
}
.btn a:active i
{
  transform: rotate(90deg);
}
.Settings-menu
{
  width: 100vw;
  text-align: center;
  background: #22222290;
  position: fixed;
  z-index: 100;
  backdrop-filter: blur(10px);
  transition: 0.3s;
}
.Settings-menu.active
{
  visibility: hidden;
  margin-top: -600px;
}
.Settings-menu ul
{
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px #797A7E50 solid;
}
.Settings-menu ul li
{
  list-style-type: none;
  padding: 1rem;
  text-align: left;
}
.Settings-menu ul li a
{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.Settings-menu ul li i
{
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0.9);
}
.Settings-menu ul li .fa-times
{
  transform: scale(1.2);
}
.Settings-menu ul li i:active
{
  color: #ffffff55;
}
.login
{
  width: 80%;
  margin-left: 10%;
  transition: 0.2s;
}
.login.active
{
  visibility: hidden;
  height: 0;
  opacity: 0;
  transform: scale(0.2);
}
.login input
{
  margin: 5px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
  padding: 5px 0;
  border: none;
}
.navbar
{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(34, 34, 34, 0.75);
  color: #fff;
  border-bottom: 1px #797A7E50 solid;
  z-index: 50;
  backdrop-filter: blur(5px);
}
.navtitle a
{
  text-decoration: none;
  color: #00b4d8;
}
.Settings-menu li a input[type=text] {
  font-size: 14px;
  margin: 0;
  border: 1px solid #ffffff50;
  border-radius: 25px 0 0 25px;
  float: left;
  padding: 5px 0;
  text-align: center;
  width: 70%;
  background: #f1f1f1;
}
.Settings-menu .search-place
{
  width: 100%;
  padding-bottom: 30px;
}
.Settings-menu button {
  float: left;
  margin: 0;
  width: 25%;
  padding: 5px 10px;
  border-radius:0 25px 25px 0;
  background: #0077b6;
  color: white;
  font-size: 14px;
  border: 1px solid #ffffff50;
  border-left: none;
  cursor: pointer;
}
.Settings-menu button:hover
{
  background: #023e8a;
}
.Settings-menu input:focus
{
  outline: none;
}
.navtitle
{
  font-size: 25px;
  margin-left: 1rem;
  font-family:'Satisfy';
  color: #00b4d8;
}
.navbar-links ul
{
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li
{
  list-style-type: none;
}
.navbar-links li a
{
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
  cursor: pointer;
}
.navbar-links li:hover
{
  background: #19191950;
}
.navbar-links li a:hover
{
  color:#DEE4E7;
}
.navbar-links li a i
{
  color: #fff;
}
.toggle-button
{
  position: absolute;
  top: 10px;
  right: 40px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 5px;
  transition-timing-function: ease-in-out;
  transition: 0.5s;
  cursor: pointer;
}
.toggle-button .bar
{
  height: 3px;
  width: 100%:auto;
  border-radius: 10px;
  background-color: #fff;
}

.cart
{
  width: 100vw;
  background: rgba(34, 34, 34, 0.75);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 50;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  margin-top: -420px;
  padding-top: 15px;
  border-bottom: 1px #0077b650 solid;
}
.cart.active
{
  visibility: visible;
  margin: 0;
}
.cart .koszyk-1
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15%;
  width: 70%;
  padding: 10px 0;
  border-bottom: 2px #ffffff25 solid;
}
.cart .koszyk-1 span
{
  color: #0077b6;
}
.cart .order-btn
{
    margin-top: 25px;
    margin-left: 10%;
    width: 80%;
    text-align: center;
    margin-bottom: 25px;
}
.order-btn a
{
  background: #0077b6;
  padding: 10px 30px;
  border-radius: 25px;
  color: #fff;
  text-decoration:none;
  font-size: 20px;
  transition: 0.2s;
  top: 30px;
}
.order-btn a:hover
{
  background: #023e8a;
  letter-spacing: 2px;
}
.order-btn a:focus
{
  background: #48cae4;
  letter-spacing: 2px;
  font-weight: 800;
}
.cart h2
{
  text-align: center;
  padding-bottom: 15px;
  color: #0077b6;
  border-bottom: 2px #ffffff25 solid;
  margin-bottom: 15px;
}
.cart .exit-cart-btn
{
  text-align: center;
  font-size: 25px;
  margin-bottom: -15px;
  transition: 0.3s;
}
.cart .exit-cart-btn a
{
  transition: 0.3s;
  color: #fff;
  border-radius: 50%;
}
.cart .exit-cart-btn a:hover
{
  color: #0077b6;
}
.cart .tabela
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 15%;
  width: 70%;
  border-bottom: 2px #ffffff25 solid;
}
.Cookies
{
  width: 50%;
  background: #22222250;
  padding: 15px 30px;
  border-radius: 15px;
  position: fixed;
  z-index: 10;
  bottom: 0;
  margin: 0 0 15px 15px;
  transition: 0.2s;
  backdrop-filter:blur(5px);
  border-right: 2px #ffffff50 solid;
  border-left: 2px #ffffff50 solid;
}
.Cookies.accepted
{
  margin-left: -370px;
  visibility: hidden;
}
.Cookies h2
{
  color: #111;
}
.Cookies h2 i
{
  color: #fff;
}
.Cookies a
{
  text-decoration: underline;
  color: #fff;
}
.Cookies .accept-btn
{
  margin-top: 15px;
  margin-bottom: 5px;
}
.Cookies .accept-btn a
{
  text-decoration: none;
  background: #DEE4E750;
  padding: 10px 20px;
  border-radius: 15px;
  transition: 0.2s;
}
.Cookies .accept-btn a:hover
{
  background: #DEE4E720;
}
.Cookies .accept-btn a:focus
{
  background: #DEE4E775;
}
.titles
{
  padding-bottom: 15px;
  padding-top: 10px;
  width: 100%;
  text-align: center;
}
.titles h1
{
  margin-bottom: -25px;
}
.titles span
{
  font-size: 40px;
  font-family: 'Satisfy';
  color: #0077b6;
}
.swiper .swiper-pagination-bullet-active
{
  padding: 0 10px;
  border-radius: 5px;
  background: #0077b6;
  width: 25px;
}
.swiper .swiper-pagination-bullet
{
  padding: 0 10px;
  border-radius: 5px;
  background: #0077b6;
  transition: 0.2s;
}
.swiper img
{
  width: 100%;
  transition: 0.3s;
  margin: 0;
}
.swiper
{
  border-radius: 25px;
}
.swiper .swiper-slide img
{
  border-bottom: 3px #0077b6 solid;
}
.navgap
{
  padding-top: 76px;
}
.item
{
  width: 100%;
  background: #22222250;
  padding: 30px 0;
}
.item-container
{
  width: 80%;
  margin-left: 10%;
}
.item-description
{
  width: 80%;
  margin-left: 10%;
}
.item-description h3
{
  padding-top: 20px;
}
.item-description ul
{
  list-style-type: none;
  margin-left: 5%;
}
.item-description ul li
{
  padding: 2px 0;
}
.item-description .add-btn
{
  margin: 15px 0;
}
.item-description .option-btn
{
  padding: 10px 0 0 0;
}
.item-description .option-btn a
{
  background: #fff;
  color: #0077b6;
}
.item-description .add-btn i
{
  transition: 0.3s;
}
.item-description .add-btn a:hover i
{
  transform: rotateY(180deg);
}
.item-description h2
{
  color: #0077b6;
}
.item-description .option-btn a:hover
{
  color: #fff;
}
.item-description a
{
  text-decoration: none;
  color: #fff;
  background: #0077b6;
  padding: 10px 30px;
  transition: 0.3s;
  border-radius: 25px;
  margin-bottom: 15px;
}
.item-description a:hover
{
  background: #023e8a;
}
.reviewfull
{
  width: 100%;
}
.reviewfull.more
{
  visibility: hidden;
  transition: 0.1s;
  opacity: 0;
  height: 0;
}
.reviewfull.more.active
{
  visibility: visible;
  opacity: 1;
  height: auto;
}
.blog-container
{
  width: 90%;
  margin-left: 5%;
  background: #22222250;
  border: 1px #ffffff25 solid;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog-container .blog
{
  width: 90%;
  margin-left: 5%;
}
.blog-container .blog h2
{
  font-size: 20px;
}
.blog-container .blog p
{
  padding: 10px 0;
}
.blog-container .blog a
{
  text-decoration: none;
  color: #0077b6;
}
.blog-container img
{
  width: 100%;
}
.review-container
{
  width: 90%;
  margin-left: 5%;
  background: #22222250;
  border: 1px #ffffff25 solid;
  margin-top: 20px;
  margin-bottom: 20px;
}
.review-container .review
{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.review-container .review img
{
  border-radius: 50%;
  width: 20%;
  margin-left: 40%;
  padding: 10px 0;
}
.review-container .review h2
{
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
.review-container .review i
{
  color: #0077b6;
}
.review-container .review .rate
{
  text-align: center;
  padding-top: 5px;
  letter-spacing: 5px;
}
.review-container .review p
{
  padding: 10px 0;
}
.review-container .viewbutton
{
  text-align: center;
  padding-bottom: 30px;
  padding-top: 15px;
}
.review-container .viewbutton a
{
  text-decoration: none;
  color: #fff;
  background: #0077b6;
  padding: 10px 30px;
  transition: 0.3s;
  border-radius: 25px;
  margin-bottom: 15px;
}
.review-container .viewbutton a:hover
{
  background: #023e8a;
}
.review-container img
{
  width: 100%;
}
.review-more
{
  text-align: center;
  width: 100%;
  padding-top: 10px;
}
.review-more a
{
  text-decoration: none;
  color: #fff;
  background: #0077b6;
  padding: 10px 30px;
  transition: 0.3s;
  border-radius: 25px;
  margin-bottom: 15px;
  cursor: pointer;
}
.review-more a:hover
{
  background: #023e8a;
}
.footer
{
  width: 100vw;
  background: #22222250;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 25px;
}
.footer h1
{
  padding: 10px 0 0 0;
  font-family: 'Satisfy';
}
.footer p
{
  width: 80%;
  margin-left: 10%;
  font-size: 10px;
  padding: 15px 0;
  opacity: 0.25;
}
.footer .newsletter
{
  width: 60%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  background: #22222250;
  padding: 10px;
  border-radius: 15px;
}
.footer .newsletter label
{
  text-align: left;
  padding: 10px 0;
}
.footer .newsletter input {
  border: none;
  background: none;
  border-bottom: 1px solid #ffffff;
  padding: 5px 0;
  color: #0077b6;
}
.footer .newsletter input:focus {
  border-bottom: 1px solid #0077b6;
}
.footer .newsletter input[type=submit] {
  border: 1px solid #ffffff;
  border-radius: 25px;
  padding: 10px 0;
  color: #fff;
  font-family: 'PT Sans';
}
.footer .newsletter input[type=submit]:focus
{
  border: 1px solid #0077b6;
}
.footer .newsletter .titles h1
{
  font-family: 'PT Sans';
  padding: 0;
}
.footer .socials-footer
{
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin-left: 35%;
  padding: 0 0 15px 0;
}
.footer .socials-footer a
{
  color: #0077b6;
  text-decoration: none;
  transition: 0.2s;
}
.footer .socials-footer a:hover
{
  color: #fff;
  transform: scale(1.2);
}


/** Login-style **/
.login-page
{
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
  height: 50vh;
  padding-top: 75px;
  background: #22222250;
  border-top: 1px #ffffff25 solid;
  border-bottom: 1px #ffffff25 solid;
}
.regist-page a
{
  text-decoration: none;
  color: #0077b6;
}
.login-page input
{
  font-size: 14px;
  margin: 0;
  border: 1px solid #ffffff50;
  border-radius: 25px;
  float: left;
  padding: 5px 0;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  background: #f1f1f1;
}
.login-page p
{
  color: #fff;
}
.login-page .search-place
{
  width: 100%;
  padding-bottom: 30px;
}
.login-page button {
  float: left;
  margin: 0;
  width: 100%;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius:25px;
  background: #0077b6;
  color: white;
  font-size: 14px;
  border: 1px solid #ffffff50;
  border-left: none;
  cursor: pointer;
}
.login-page button:hover
{
  background: #023e8a;
}
.login-page input:focus
{
  outline: none;
}
@media (max-width: 500px)
{
    .top-content::-webkit-scrollbar
    {
      height: 0px;
    }
    .toggle-button
    {
      display: flex;
    }
    .navbar-links
    {
      width: 100%;
      display: none;
    }
    .navbar {
      position: fixed;
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-links ul
    {
      width: 100%;
      flex-direction: column;
    }
    .navbar-links li a
    {
      text-align: center;
      padding: 15px 5px;
      border-top: 1px #797A7E25 solid;
    }
    .navbar-links.active
    {
      display:flex;
      z-index: 30;
    }
}
@media (min-width: 501px)
{
  .item
  {
    width: 80%;
    margin-left: 13%;
    display:grid;
    grid-template-columns: repeat(2, 49%);
    grid-gap: 1%;
    background: #22222250;
    padding: 30px 0;
    border-radius: 25px;
  }
  .item-container
  {
    width: 100%;
  }
  .cart
  {
    width: 30vw;
    background: rgba(34, 34, 34, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    height: 100vh;
    z-index: 30;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
    right: -35vw;
    padding-top: 15px;
    border-bottom: 1px #0077b650 solid;
    top: 50px;
    margin-top: 0vh;
  }
  .cart.active
  {
    margin-top: 0vh;
    right: 0;
  }
  .reviewfull
  {
    width: 80%;
    margin-left: 10%;
    display:grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 3%;
  }
  .review-container
  {
    width: 100%;
  }
  .blogfull
  {
    width: 80%;
    margin-left: 10%;
    display:grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 3%;
  }
  .blog-container
  {
    width: 100%;
  }
  .reviewfull
  {
    width: 80%;
    margin-left: 10%;
  }
  .blogfull
  {
    width: 80%;
    margin-left: 10%;
  }
  .Settings-menu
  {
    width: 30vw;
    text-align: center;
    background: #22222290;
    position: fixed;
    z-index: 10;
    right: 0px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
    height: 100vh;
    margin-top: 55px;
    transition-timing-function: ease-in-out;
  }
  .Settings-menu.active
  {
    visibility: hidden;
    right: -30vw;
    margin-top: 55px;
  }
  .Settings-menu ul
  {
    border: none;
    margin: 0;
  }
  .Settings-menu ul li
  {
    border-bottom: 1px #797A7E50 solid;
  }
}
@media (min-width: 951px)
{
  .reviewfull
  {
    width: 50%;
    margin-left: 25%;
    display:grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 3.33%;
  }
  .review-container
  {
    width: 100%;
  }
  .blogfull
  {
    width: 50%;
    margin-left: 25%;
    display:grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 3%;
  }
  .blog-container
  {
    width: 100%;
  }
  .set
  {
    width: 30%;
    margin-left: 35%;
    border-radius: 25px;
  }
  .product .swiper
  {
    width: 30%;
  }
  .footer .newsletter
  {
    width: 30%;
    margin-left: 35%;
  }
  .top-content
  {
    padding: 10px;
    margin-left: 35%;
    width: 30%;
    background: #22222250;
    border-radius: 25px;
  }
  .top-content .swiper
  {
    width: 90%;
    margin-left: 5%;
    border-radius: 25px;
  }
  .product .productdescription
  {
    padding-left: 10%;
    overflow-y: scroll;
    width: 30%;
    height: 20%;
  }
  .product .productdescription::-webkit-scrollbar-thumb
  {
  background: #0077b6;
  border-radius: 25px;
  }
  .product .productdescription::-webkit-scrollbar
  {
  width: 5px;
  }
  .product .productdescription::-webkit-scrollbar-track
  {
    background: #22222299;
    border-radius: 25px;
  }
  .blog h1
  {
    font-size: 25px;
  }
  .blog p
  {
    font-size: 12px;
  }
  .review h1
  {
    font-size: 20px;
  }
  .Settings-menu
  {
    width: 20vw;
  }
  .cart
  {
    width: 20vw;
  }
  .footer p
  {
    width: 60%;
    margin-left: 20%;
  }
  .item
  {
    width: 60%;
    margin-left: 20%;
    display:grid;
    grid-template-columns: repeat(2, 49%);
    grid-gap: 1%;
    background: #22222250;
    padding: 30px 0;
    border-radius: 25px;
  }
  .item-container
  {
    width: 80%;
    margin-left: 10%;
  }
}
