@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
:root
{
  --color: rgb(255 255 255/1);
  --maincolor: #ef5466;
  --colornon: #A3a3a3;
  --border: 1px #A1D91F50 solid;
  --background: rgb(10 10 10/1);
  --backgroundnon: rgb(10 10 10/.75);;
  --gradient: radial-gradient(circle, var(--background) 0%, var(--backgroundsecond) 100%);
}
body
{
  background: var(--background);
  font-family: 'Pathway Extreme', 'PT Sans', sans-serif;
  color: var(--color);
  overflow-x: hidden;
}
.navigation
{
    width: calc(100% - 6rem);
    padding: 0 3rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-bottom:1px solid rgb(38 38 38/1);
    z-index: 5;
    background: var(--backgroundnon);
}
.n-content 
{
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
}
.n-logo
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Destruido;
    font-size: 24px;
}
.n-logo img
{
    height: 40px;
    aspect-ratio: 1/1;
    object-fit: contain;
}
.n-menu
{
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}
.n-menu a
{
  text-decoration: none;
  color: var(--colornon);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
.n-menu a:hover
{
  color: var(--color);
}
.n-menu a.active
{
  color: var(--color);
}
.n-href
{
  background: var(--color);
  color: var(--background);
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid transparent;
}
.n-href:hover
{
  background: transparent;
  color: var(--color);
  border:1px solid rgb(255 255 255/.5);
}
.fs
{
  position: relative;
  width: 100%;
  height: 100vh;
}
.fs-bg
{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.fs-bg img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
  -webkit-mask-image: -webkit-linear-gradient(90deg,transparent 0%, black 100%);
}
.fs-content 
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  z-index: 1;
  text-align: center;
}
.fs-header
{
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.fs-header p
{
  font-family: Destruido;
  margin-top: -50px;
}
.fs-header img
{
  width: 300px;
}
.fs-header .fs-top
{
  position: absolute;
  transform: scale(1.25);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  mix-blend-mode: luminosity;
  filter: drop-shadow(0px 0px 25px black);
  -webkit-mask-image: -webkit-linear-gradient(90deg,transparent 10%, black 40%);
}
.fs-header .fs-top-bg
{
  position: absolute;
  transform: scale(1);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  -webkit-mask-image: -webkit-linear-gradient(-90deg,transparent 25%, black 50%, transparent 75%);
}
.fl
{
  width: 100%;
  height: auto;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fl-content
{
  width: 100%;
  max-width: 900px;
}
.fl-content-grid
{
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template-columns: repeat(3, 32%);
}
.fl-header
{
  font-family: Destruido;
  font-size: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.fl-item
{
  width: calc(100% - 30px);
  border: 1px solid rgb(38 38 38/1);
  border-radius: 10px;
  padding: 30px 15px;
  background: linear-gradient(-45deg,#171717, transparent 75%);
  transition: .5s;
}
.fl-item:hover
{
  transform: rotateY(15deg) rotateX(-15deg) scale(1.05);
}
.fl-item i
{
  color: var(--maincolor);
  font-size: 30px;
}
.fl-item p
{
  font-size: 20px;
  font-family: Destruido;
  margin-left: -5px;
}
.fl-item span
{
  color: var(--colornon);
  font-size: 16px;
}

.footer
{
  width: 100%;
  padding: 20px 0;
  background: rgb(20 20 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgb(38, 38, 38);
}
.footer .f-non
{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colornon);
}
.footer span
{
  color: var(--colornon);
  text-align: center;
}
.f-last
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}
.f-last-content
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: var(--colornon);
}
.f-last a 
{
  text-decoration: none;
  color: var(--colornon);
  font-size: 14px;
}
.f-last a:last-child
{
  color: var(--background);
}
.f-last a:last-child:hover
{
  color: var(--color);
}
@media (max-width: 500px) {
  .navigation {
    width: calc(100% - 20px);
    padding: 0 10px;
  }
  .n-logo p
  {
    display: none;
  }
  .fl-content-grid
  {
    display: grid;
    justify-content: center;
    gap: 15px;
    grid-template-columns: repeat(2, calc(50% - 20px));
  }
  .f-last
  {
    flex-direction: column;
  }
  .f-last-content
  {
    flex-direction: column;
    margin-top: 10px;
  }
}